.price-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 0;
  border-bottom: 1px solid var(--color-gray-500);
}
.price-box__price {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.initial-price {
  display: block;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-gray-500);
}
.initial-price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-600);
}
.discount-price {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--color-gray-900);
}

.price-box__view {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  color: var(--color-gray-700);
}

.price-box-popup {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
.price-box-popup__item {
  display: flex;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-gray-900);
  transition: all linear 0.25s;
  cursor: pointer;
}
.price-box-popup__item:hover {
  color: var(--primary-color-500);
}

/* Color pick */
.picking-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 0;
  border-bottom: 1px solid var(--color-gray-500);
}

.color-picking__title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-gray-800);
  margin-bottom: 1rem;
}

.color-picking__list {
  display: flex;
  gap: 1.6rem;
}

.circle-radio {
  display: block;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid transparent;
  overflow: hidden;
  transition: all linear 0.2s;
}
.circle-radio--active {
  border-color: var(--color-gray-800);
}
.disabled-radio {
  filter: grayscale(1);
  border: 1px dashed black;
  pointer-events: none;
}

/* Actions */
.actions .add-to-cart {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.6rem;
}

.note-shipping {
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-gray-800);
  margin: 3rem 0 1rem;
}
@media (max-width: 800px) {
  .price-box-popup__item {
    font-size: 1.2rem;
  }
}
