*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  min-height: 100% !important;
  height: 100%;
}

body {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100% !important;
  height: 100%;
}

:root {
  --max-width: 1300px;
  --height-header: 7.6rem;
  --black: #171717;
  --white: #fdfdfd;

  --primary-color-100: #faf6f0;
  --primary-color-200: #f4eae0;
  --primary-color-300: #f4dfc8;
  --primary-color-400: #edcaa5;
  --primary-color-500: #e2b482;

  --color-gray-100: #fff;
  --color-gray-200: #f8f7fa;
  --color-gray-300: #f3f3f5;
  --color-gray-400: #ecebf0;
  --color-gray-500: #d6d5d9;
  --color-gray-600: #bcbbbf;
  --color-gray-700: #8a898c;
  --color-gray-800: #585759;
  --color-gray-900: #252526;
}

a {
  text-decoration: none;
  color: var(--color-gray-400);
}

ul,
li {
  list-style: none;
}

img {
  object-fit: cover;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.6rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-600);
  border-radius: 14px;
  /* border: 3px solid white; */
}

.main-content {
  margin-top: var(--height-header);
}
