.wrapper {
  display: flex;
  min-height: 100vh;
  border-top: 1px solid var(--color-gray-400);
}

.left {
  width: 55%;
  display: flex;
  justify-content: flex-end;
}

.right {
  flex: 1;
  background-color: var(--color-gray-300);
}

/* Left Content */
.checkout-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 66rem;
  padding: 3.8rem;
  gap: 2rem;
}

.express-checkout {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 100%;
}
.express-checkout__title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--color-gray-800);
}

.divider {
  position: relative;
  width: 100%;
  padding: 3rem 1rem;
  font-size: 1.6rem;
  color: var(--color-gray-600);
}

.contact,
.delivery,
.shipping-method,
.payment-method {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.contact__title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: var(--color-gray-800);
}

.name-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.logistic-box {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.estimate-time {
  font-size: 1.2rem;
  color: var(--color-gray-700);
}

/* Right Content */
.right-wrapper {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.8rem;
  max-width: 52rem;
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .left {
    width: 100%;
    justify-content: center;
  }
  .right-wrapper {
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .logistic-box {
    flex-direction: column;
  }
}
