.wrapper {
  position: relative;
  max-width: var(--max-width);
  min-height: 80vh;
  margin: auto;
  padding: 2rem 0;
}

.breadcrumb {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 2rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.section-product {
  display: flex;
  background-color: var(--primary-color-100);
  border-radius: 8px;
  overflow: hidden;
  padding: 2.5rem 4rem;
  margin-bottom: 4rem;
}

@media (max-width: 800px) {
  .section-product {
    padding: 0 2rem;
  }
}
